absl-py
aiohappyeyeballs
aiohttp
aiosignal
aiosmtplib
alembic
amqp
annotated-doc
annotated-types
anyio
APScheduler
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
astunparse
async-timeout
asyncpg
attrs
bcrypt
beautifulsoup4
billiard
blinker
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudscraper
colorama
cryptography
dataclasses-json
dateparser
decorator
distro
Django
djangorestframework
dnspython
docxtpl
duckduckgo_search
ecdsa
email-validator
exceptiongroup
executing
faiss-cpu
fastapi
fastapi-mail
Flask
flatbuffers
frozenlist
gast
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
googlesearch-python
greenlet
groq
grpcio
h11
h5py
httpcore
httplib2
httptools
httpx
httpx-sse
idna
imutils
ipython
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jupyter_client
jupyter_core
keras
Keras-Preprocessing
kombu
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
libclang
lxml
Mako
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
ml_dtypes
multidict
mypy_extensions
namex
nest-asyncio
nltk
numpy
oauthlib
opencv-python
opt_einsum
optree
orjson
ormsgpack
outcome
packaging
pandas
parso
passlib
pillow
platformdirs
playwright
primp
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg2-binary
pure_eval
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pyee
Pygments
PyJWT
pyparsing
pypng
PySocks
python-dateutil
python-docx
python-dotenv
python-jose
python-multipart
pytz
PyYAML
pyzmq
qrcode
razorpay
redis
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
rich
rsa
scikit-learn
scipy
selenium
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sqlmodel
sqlparse
stack-data
starlette
structlog
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-cpu
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
threadpoolctl
tomli
tornado
tqdm
traitlets
trio
trio-websocket
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
undetected-chromedriver
uritemplate
urllib3
uuid_utils
uvicorn
vine
watchfiles
wcwidth
webdriver-manager
websocket-client
websockets
Werkzeug
wrapt
wsproto
xxhash
yarl
zstandard
